<html ng-app="UnitConverter" lang = "en">
<head>
    <title>Unit Converter</title>
</head>
<body>
    <h1>Converter App</h1>
    <div ng-controller="UnitConverterController as ucc">
        
        Length: <input type="text" ng-model="ucc.lengthValue" id="Length_value" name="VALUE" placeholder="Enter Amount">
        
        <select ng-model="ucc.selected_metric_length_unit" 
                ng-options="unit.unit_name for unit in ucc.metric_length_units" 
                ng-change="ucc.showSelectedLengthUnit()"></select>
        
        <div><p>Selected Length unit is: <span ng-bind="ucc.selected_length_unit.unit_name"></span></p></div>
        
        Volume : <input type="text" ng-model="ucc.volumeValue" id="Volume_value" name="VALUE" placeholder="Enter Amount">        
    
        <select ng-model="ucc.selected_metric_volume_unit" 
                ng-options="unit.unit_name for unit in ucc.metric_volume_units" 
                ng-change="ucc.showSelectedVolumeUnit()"></select>
                
        <div><p>Selected Volume unit is: <span ng-bind="ucc.selected_volume_unit.unit_name"></span></p></div>
        
        Mass: <input type="text" ng-model="ucc.massValue" id="Mass_value" name="VALUE" placeholder="Enter Amount">
    
        <select ng-model="ucc.selected_metric_mass_unit" 
                ng-options="unit.unit_name for unit in ucc.metric_mass_units" 
                ng-change="ucc.showSelectedMassUnit()"></select>

        <div><p>Selected Mass unit is: <span ng-bind="ucc.selected_mass_unit.unit_name"></span></p></div>
        
    </div>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>